@using Domain.Entities
@model IEnumerable<Course>

@{
    ViewBag.Title = "Курсы";
}

@foreach (Course course in Model)
{
    <div>
        <h3>@course.Name - @course.Teacher</h3>
        <p>@course.Description</p>
        <h4>@course.Price.ToString("# руб\\.")</h4>
    </div>
    <hr />
}
       

