@using WebUI.Models
@model CoursesListViewModel

@{
    ViewBag.Title = "Курсы";
}

@foreach (var course in Model.Courses)
{
    @Html.Partial("_CourseSummary", course)
}

<div class="btn-group pull-left-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {  page = x, genre = Model.CurrentGenre}))
</div> 
//проверить всё
       

