@model Domain.Entities.Course

<div class="well">
    <div class="row">
        <div class="col-xs-10">
            <h3>
                <strong>@Model.Name</strong>
            </h3>
            <h4>
                <strong>@Model.Teacher</strong>
            </h4>
        </div>
        <div class="col-xs-2">
            <h3>
                <strong class="pull-right label label-primery">
                    @Model.Price.ToString("# руб\\.")
                </strong>
            </h3>
        </div>
    </div>
    <span class="lead">@Model.Description</span>
</div>